@using Nop.Services.Stores
@using Nop.Core.Infrastructure
@using Nop.Web.Framework.Events;
@using Nop.Services.Events
@using Nop.Plugin.Worldbuy.AnyBanner.Models
@model WB_AnyBannerModel

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "AnyBanner-form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false)
    <div class="form-group">
        <div class="col-md-3">
            @Html.NopLabelFor(model => model.Name)
        </div>
        <div class="col-md-6">
            @Html.NopEditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            @Html.NopLabelFor(model => model.WidgetZone)
        </div>
        <div class="col-md-6">
            @Html.NopDropDownListFor(model => model.WidgetZone, Model.WidgetZones)
            @Html.ValidationMessageFor(model => model.WidgetZone)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            @Html.NopLabelFor(model => model.IsActived)
        </div>
        <div class="col-md-6">
            @Html.NopEditorFor(model => model.IsActived)
            @Html.ValidationMessageFor(model => model.IsActived)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-3">
            @Html.NopLabelFor(model => model.Settings.ColumnPerRow_1280)
        </div>
        <div class="col-md-6">
            @Html.NopDropDownListFor(model => model.Settings.ColumnPerRow_1280, Model.Settings.Columns)
            @Html.ValidationMessageFor(model => model.Settings.ColumnPerRow_1280)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            @Html.NopLabelFor(model => model.Settings.ColumnPerRow_1000)
        </div>
        <div class="col-md-6">
            @Html.NopDropDownListFor(model => model.Settings.ColumnPerRow_1000, Model.Settings.Columns)
            @Html.ValidationMessageFor(model => model.Settings.ColumnPerRow_1000)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-3">
            @Html.NopLabelFor(model => model.Settings.ColumnPerRow_768)
        </div>
        <div class="col-md-6">
            @Html.NopDropDownListFor(model => model.Settings.ColumnPerRow_768, Model.Settings.Columns)
            @Html.ValidationMessageFor(model => model.Settings.ColumnPerRow_768)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-3">
            @Html.NopLabelFor(model => model.Settings.ColumnPerRow_480)
        </div>
        <div class="col-md-6">
            @Html.NopDropDownListFor(model => model.Settings.ColumnPerRow_480, Model.Settings.Columns)
            @Html.ValidationMessageFor(model => model.Settings.ColumnPerRow_480)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Nop.Plugin.Worldbuy.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Nop.Plugin.Worldbuy.SaveContinue")
            </button>
        </div>
    </div>
}

