@using Nop.Web.Framework;
@{
    Layout = "";
    Html.SetActiveMenuItemSystemName("Order.Plugins.Amazon.Configure");
}
@model Nop.Plugin.Order.Amazon.Models.ConfigurationModel

@Html.Action("StoreScopeConfiguration", "Setting", new { area = "Admin" })

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-4">
                    <div class="row">
                        
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.Service)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.Service)
                                @Html.ValidationMessageFor(model => model.Service)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.AssociateTag)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.AssociateTag)
                                @Html.ValidationMessageFor(model => model.AssociateTag)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.AWSAccessKeyID)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.AWSAccessKeyID)
                                @Html.ValidationMessageFor(model => model.AWSAccessKeyID)
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.AWSSecretKey)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.AWSSecretKey)
                                @Html.ValidationMessageFor(model => model.AWSSecretKey)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.Endpoint)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.Endpoint)
                                @Html.ValidationMessageFor(model => model.Endpoint)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.Version)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.Version)
                                @Html.ValidationMessageFor(model => model.Version)
                            </div>
                        </div>
                      
                        <div class="form-group">
                            <div class="col-md-3">
                                &nbsp;
                            </div>
                            <div class="col-md-9">
                                <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
                            </div>
                        </div>
                    </div>
                </div>
             
            </div>
        </div>
    </div>
}