@model Nop.Plugin.Shipping.RateByDistrict.Models.ShippingByCategoryModel
@using Nop.Web.Framework;

@Html.ValidationSummary(false)
@Html.HiddenFor(model => model.Id)

@if (ViewBag.RefreshPage == true)
{
    <script type="text/javascript">
        try {window.opener.document.forms['@(ViewBag.formId)'].@(ViewBag.btnId).click();}
        catch (e){}
        window.close();
    </script>
}
<div class="panel-group">
    <div class="panel panel-default panel-popup">
        <div class="panel-body">
            <div class="form-group" @(Model.AvailableStores.SelectionIsNotPossible() ? Html.Raw("style=\"display:none\"") : null)>
                <div class="col-sm-3">
                    @Html.NopLabelFor(model => model.StoreId)
                </div>
                <div class="col-sm-9">
                    @Html.NopDropDownListFor(model => model.StoreId, Model.AvailableStores)
                    @Html.ValidationMessageFor(model => model.StoreId)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    @Html.NopLabelFor(model => model.ProductTypeId)
                </div>
                <div class="col-sm-9">
                    @Html.NopDropDownListFor(model => model.ProductTypeId,Model.AvailableProductTypes)
                    @Html.ValidationMessageFor(model => model.ProductTypeId)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    @Html.NopLabelFor(model => model.CategoryId)
                </div>
                <div class="col-sm-9">
                    @Html.NopDropDownListFor(model => model.CategoryId, Model.AvailableCategories)
                    @Html.ValidationMessageFor(model => model.CategoryId)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    @Html.NopLabelFor(model => model.AdditionalFixedCost)
                </div>
                <div class="col-sm-9">
                    @Html.NopEditorFor(model => model.AdditionalFixedCost, Model.PrimaryStoreCurrencyCode)
                    @Html.ValidationMessageFor(model => model.AdditionalFixedCost)
                </div>
            </div>
        </div>
    </div>
</div>